<div class="container-fluid pt-5">
  <form [formGroup]="form" class="mb-5">
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Container Width</span>
          </div>
          <input type="text" formControlName="width" placeholder="Width" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Container Height</span>
          </div>
          <input type="text" formControlName="height" placeholder="Height" class="form-control">
        </div>
      </div>
    </div>
    <ng-container formArrayName="items">
      <div class="row" *ngFor="let _ of items.controls; index as i">
        <ng-container [formGroupName]="i">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Width</span>
              </div>
              <input type="text" formControlName="width" placeholder="Width" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Height</span>
              </div>
              <input type="text" formControlName="height" placeholder="Height" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" formControlName="left">
              <label class="form-check-label">Left</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" formControlName="right">
              <label class="form-check-label">Right</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" formControlName="top">
              <label class="form-check-label">Top</label>
            </div>
          </div>
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" formControlName="bottom">
              <label class="form-check-label">Bottom</label>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-outline-primary btn-block" (click)="items.removeAt(i)">Remove</button>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-success" (click)="addMore()">Add more</button>
        </div>
      </div>
    </ng-container>
  </form>


  <ng-container *ngIf="packer$ | async as packer">
    <app-canvas *ngFor="let bin of packer.bins" [lines]="lines$ | async" [rects]="bin.rects" [freeRects]="bin.freeRects" [height]="bin.height" [width]="bin.width"></app-canvas>
  </ng-container>

  <h1 class="text-success">Довжина лінії розрізу - {{length$ | async}}мм</h1>


</div>
